body {
    background-color: $backgroundColor !important;
}

.title  {
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    h2 {
        color: rgba(240, 248, 255, 0.849);
        font-family: 'Noto Sans Bengali', sans-serif;
        letter-spacing: 6px;
    }
}