.footerIndex {
    display: flex;
    justify-content: center;
    margin-top: 420px;
    position: relative;
    margin-bottom: 20px;
}

.footerPages{
    display: flex;
    justify-content: center;
    margin-top: 160px;
    position: relative;
    margin-bottom: 20px;
}

.redes {
    .container {
        .fa-2x {
            font-size: 20px !important;
            margin-inline: 3vw;
        }
    }
}
